WcfService/Client/Service References/FirstWCFServiceReference/FirstWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FirstWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55116/FirstWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55116/FirstWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFirstWCFService_Message_InputMessage">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_Message_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_add_InputMessage">
    <wsdl:part name="parameters" element="tns:add" />
  </wsdl:message>
  <wsdl:message name="IFirstWCFService_add_OutputMessage">
    <wsdl:part name="parameters" element="tns:addResponse" />
  </wsdl:message>
  <wsdl:portType name="IFirstWCFService">
    <wsdl:operation name="Message">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWCFService/Message" message="tns:IFirstWCFService_Message_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWCFService/MessageResponse" message="tns:IFirstWCFService_Message_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input wsaw:Action="http://tempuri.org/IFirstWCFService/add" message="tns:IFirstWCFService_add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFirstWCFService/addResponse" message="tns:IFirstWCFService_add_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFirstWCFService" type="tns:IFirstWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://tempuri.org/IFirstWCFService/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="http://tempuri.org/IFirstWCFService/add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FirstWCFService">
    <wsdl:port name="BasicHttpBinding_IFirstWCFService" binding="tns:BasicHttpBinding_IFirstWCFService">
      <soap:address location="http://localhost:55116/FirstWCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>